<!DOCTYPE html>
<html>
  <head>
    <%- include('../snipits/head') -%>
    <%- include('../snipits/nav-style') -%>
    
    <style>
      @media only screen and (min-width: 550px) {
        p {
          font-size: 1.2em;
        }
      }
    </style>
  </head>

  <body>
    <%- include('../snipits/nav-main') -%>
    <%- include('../snipits/nav-local') -%>

    <main class="container">
      <%- _body -%>

      <% for (let page of _pages) { %>
        <p><%= page.data.title %></p>
      <% } %>
    </main>

    <footer><%= license %></footer>
  </body>
</html>