---
title: Tic Tac Toe Toc
---

<h2>Tic Tac Toe Toc</h2>
<h5>4D tic tac toe - based on game board created by Shayle Hirschman</h5>

<nav class="gamenav">
    <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link active" href="#">help</a></li>
        <li class="navbar-item"><a class="navbar-link" href="#">play</a></li>
        <li class="navbar-item"><a class="navbar-link" href="#">examples</a></li>
    </ul>
</nav>

<div id="help">
    <!-- <h5><a href="#">Play</a></h5> -->

    <p><strong>Win detection has not been implemented</strong></p>

    <p>
        Tic Tac Toe Toc is an extrapolation of Tic Tac Toe, played on a 5 by 5
        by 5 by 5 grid. The rules of play are generally the same. You win if
        you can create a line of five tokens of your color. The main difference
        is that Tic Tac Toe has two dimensions whereas Tic Tac Toe Toc has four.
    </p>

    <p>
        The 2D representation of the grid shown here is a grid of grids. In
        'true' 4D representation, each row of smaller grids would stack on top
        of each other, coming out of the screen, forming five cubic grids, and
        those five cubic grids would stack on top of each other into the 4th
        dimension. If you know of a better way to represent 4 spatial
        dimensions within 2, in a web page, email me and I'll include it.
    </p>
</div>

<div id="game" style="display: none">
    <div class="new">
        <label for="players">Players: </label>
        <input id="players" type="number" value="2" min="2" max="4" />
        <button id="new-game">New</button>

        <span class="space"></span>

        <button id="undo">Undo</button>
        <button id="redo">Redo</button>
    </div>
    <div class="bookmarks">
        <label for="bookmarks">Bookmarks:</label>
        <span id="bookmarks"></span>
        <button id="new-bookmark">+</button>
    </div>

    <div class="playmat"></div>
</div>

<div id="examples" style="display: none"></div>

<style>
    nav.gamenav {
        padding: 0 20px;
        position: relative;
        margin: 30px 0;
        box-sizing: border-box;
        border-top: solid #eee;
        border-bottom: solid #eee;
        border-width: 1px 0;
    }

    nav.gamenav::after {
        content: '';
        display: table;
        clear: both;
    }

    hr {
        margin-top: 1rem;
    }

    .new, .bookmarks {
        display: flex;
        align-items: center;

        margin-bottom: 1rem;
    }

    .new > .space {
        flex: 1 1 auto;
    }

    .new > button,
    .new > label,
    .new > input,
    .new > select {
        margin: 0;
    }

    #new-game,
    #undo,
    #redo {
        margin-left: 1rem;
    }

    label[for=players] {
        margin-right: 0.5rem !important;
    }

    label[for=bookmarks] {
        margin-right: 0.5rem !important;
    }

    #new-bookmark {
        margin-left: 1rem;
        padding: 0;
        width: 40px;
        font-size: xx-large;
        font-weight: 100;
    }

    #examples {
        font-size: 2px;
        display: flex;
        flex-wrap: wrap;
    }

    #examples .example {
        padding: 10px;
    }

    #examples .caption {
        font-size: 15px;
    }

    #examples table.board > tr {
        border-top: 1px solid gray;
    }

    #examples table.board > tr > td {
        padding: 0 !important;
        border-left: 1px solid gray;
    }

    #examples table.board > tr:last-child {
        border-bottom: 1px solid gray;
    }

    #examples table.board > tr > td:last-child {
        border-right: 1px solid gray;
    }

    .playmat {
        overflow: auto;
        font-size: 10px;
    }

    table.board,
    table.boardlet {
        margin: 0;
        border-collapse: collapse;
        table-layout: fixed;
    }

    table.board > tr > td {
        border: 0;
        padding: 0;
    }

    table.board > tr:not(:last-child) > td {
        padding-bottom: 0.75em;
    }

    table.board > tr > td:not(:last-child) {
        padding-right: 0.75em;
    }

    table.boardlet > tr > td {
        border: 0;
        padding: 0;
        max-width: 3em;
        min-width: 3em;
        height: 3em;
    }

    table.boardlet > tr:not(:last-child) > td {
        border-bottom: 1px solid lightgray
    }

    table.boardlet > tr > td:not(:last-child) {
        border-right: 1px solid lightgray
    }

    .play {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0.25em;
        box-sizing: border-box;
    }

    .play::after {
        content: '\00a0';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 0;
    }

    a.play:hover::after {
        background: lightgray;
    }

    .play.p0::after {
        background: red;
    }

    .play.p1::after {
        background: green;
    }

    .play.p2::after {
        background: blue;
    }

    .play.p3::after {
        background: purple;
    }
</style>

<script defer>
    var T4 = (function () {
        let i = Math.floor;

        class Step {
            constructor(x1, x2, x3, x4, v) {
                this.x1 = parseInt(x1)
                this.x2 = parseInt(x2)
                this.x3 = parseInt(x3)
                this.x4 = parseInt(x4)
                this.v = parseInt(v)

                if (this.x1 < 0 || this.x2 < 0 || this.x3 < 0 || this.x4 < 0)
                    throw new Error('index out of bounds')

                if (this.x1 > 5 || this.x2 > 5 || this.x3 > 5 || this.x4 > 5)
                    throw new Error('index out of bounds')
            }

            static expand(s) {
                let x1, x2, x3, x4, v

                s = parseInt(s);
                (x4 = s % 5, s = i(s / 5));
                (x3 = s % 5, s = i(s / 5));
                (x2 = s % 5, s = i(s / 5));
                (x1 = s % 5, v = i(s / 5));

                return new Step(x1, x2, x3, x4, v)
            }

            compress() {
                let s = this.v
                s = this.x1 + s*5
                s = this.x2 + s*5
                s = this.x3 + s*5
                s = this.x4 + s*5

                return s
            }

            static compress(x1, x2, x3, x4, v) {
                return new Step(x1, x2, x3, x4, v).compress()
            }
        }

        class Bookmark {
            compress() {
                return 'b'
            }
        }

        class Board {
            constructor(players, current, steps) {
                this.players = parseInt(players)
                this.current = parseInt(current)
                this.steps = steps.map(x => x == 'b' ? new Bookmark() : Step.expand(x))
            }

            static expand(s) {
                if (!s)
                    return new Board(2, 0, [])

                if (s.startsWith('#'))
                    s = s.substring(1)

                let bits = s.split(',')
                return new Board(bits[0], bits[1], bits.slice(2))
            }

            compress(next, i = 0, j) {
                let c = this.current
                if (next)
                    c = (c + 1) % this.players

                let r = this.steps.slice(i, j)
                let s = `${this.players},${c}`
                if (!r.length)
                    return s

                return s + ',' + r.map(x => x.compress()).join(',')
            }

            static compress(players, current, steps) {
                return new Board(players, current, steps).compress()
            }

            player(x1, x2, x3, x4) {
                for (let step of this.steps)
                    if (step.x1 == x1 && step.x2 == x2 && step.x3 == x3 && step.x4 == x4)
                        return step.v
            }

            bookmarks() {
                let n = 0
                let els = []

                for (let i in this.steps) {
                    if (!(this.steps[i] instanceof Bookmark))
                        continue
                    els.push($(`<a href="#${this.compress(false, 0, i)}">`).text(`mark ${++n}`))
                    els.push($('<span>').text(', '))
                }

                if (els.length == 0)
                    return $('<span>').text('(none)')

                return els
            }

            draw2D(frozen) {
                let board = $('<table class="board">')

                for (let i = 0; i < 5; i++) {
                    let boardRow = $('<tr>').appendTo(board)

                    for (let j = 0; j < 5; j++) {
                        let boardCell = $('<td>').appendTo(boardRow)
                        let boardlet = $('<table class="boardlet">').appendTo(boardCell)

                        for (let k = 0; k < 5; k++) {
                            let boardletRow = $('<tr>').appendTo(boardlet)

                            for (let l = 0; l < 5; l++) {
                                let boardletCell = $('<td>').appendTo(boardletRow)
                                let player = this.player(i, j, k, l)

                                if (player !== void 0) {
                                    $(`<div class="play p${player}">`).appendTo(boardletCell)
                                    continue
                                }

                                if (frozen)
                                    continue

                                let s = `${this.compress(true)},${Step.compress(i, j, k, l, this.current)}`
                                let play = $(`<a class="play" href="#${s}">`).appendTo(boardletCell)
                            }
                        }
                    }
                }

                return board
            }
        }

        class T4 {
            static init(mat, players, newGame, undo, redo, bookmarks, newBookmark) {
                let board = Board.expand(location.hash)

                $(mat).append(board.draw2D())
                $(bookmarks).append(board.bookmarks())

                $(newGame).click(() => {
                    let p = $(players).val()
                    if (p < 2 || p > 4 || Math.floor(p) != p) {
                        alert('invalid number of players')
                        return
                    }
                    location.hash = '#' + Board.compress(p, 0, [])
                })

                $(undo).click(() => history.go(-1))
                $(redo).click(() => history.go(+1))

                $(newBookmark).click(() => {
                    if (location.hash < 2) {
                        alert("start a game first")
                        return
                    }
                    location.hash += ',b'
                })
            }

            static update(mat, bookmarks) {
                let board = Board.expand(location.hash)
                $(mat).empty(), $(mat).append(board.draw2D())
                $(bookmarks).empty(), $(bookmarks).append(board.bookmarks())
            }

            static examples(host, examples) {
                host = $(host)

                for (let [caption, steps] of examples)
                    $('<div>').appendTo(host).addClass('example')
                        .append($('<span>').addClass('caption').text(caption))
                        .append(Board.expand(steps).draw2D(true))
            }
        }

        return T4
    })()

    window.onload = function () {
        T4.init('.playmat', '#players', '#new-game', '#undo', '#redo', '#bookmarks', '#new-bookmark')
        T4.examples('#examples', [
            ['4x diagonal', '1,0,0,156,312,468,624'],
            ['4x diagonal', '1,0,500,406,312,218,124'],
            ['3x diagonal', '1,0,45,166,287,408,529'],
            ['3x straight', '1,0,208,183,158,133,233'],
            ['3x diagonal, 1x straight', '1,0,108,208,308,408,508']
        ])

        let links = $('.navbar-link')
        let help = $('#help')
        let game = $('#game')
        let exps = $('#examples')

        let showHelp = () => (help.show(), game.hide(), exps.hide(), links.removeClass('active'), $('a:contains(help)').addClass('active'), false)
        let showGame = () => (help.hide(), game.show(), exps.hide(), links.removeClass('active'), $('a:contains(play)').addClass('active'), false)
        let showExps = () => (help.hide(), game.hide(), exps.show(), links.removeClass('active'), $('a:contains(examples)').addClass('active'), false)

        $('a:contains(help)').click(showHelp)
        $('a:contains(play)').click(showGame)
        $('a:contains(examples)').click(showExps)

        // $('a:contains(Play)').click(showGame)

        if (location.hash.length > 1)
            showGame()
    }

    window.onhashchange = function () {
        T4.update('.playmat', '#bookmarks')
    }
</script>