.navbar,
.tabnav,
.sidenav,
.localnav,
.sidenav-trigger {
    display: none;
}

.container {
    max-width: 800px;
}

.navbar-list,
.tabnav-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-link,
.tabnav-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
}

.navbar-link {
    color: #222;
}

.tabnav-link {
    color: #aaa;
    line-height: 3.5rem;
}

.navbar-link.active,
.tabnav-link.active {
    color: #33C3F0;
}

.sidenav-trigger .container {
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 1rem;
}

h1 .smaller-1 { font-size: 3.0rem; }
h2 .smaller-1 { font-size: 2.6rem; }
h3 .smaller-1 { font-size: 2.0rem; }

h1 .smaller-2 { font-size: 3.0rem; }
h2 .smaller-2 { font-size: 1.6rem; }
h3 .smaller-2 { font-size: 1.0rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 .smaller-1 { font-size: 4.0rem; }
  h2 .smaller-1 { font-size: 3.2rem; }
  h3 .smaller-1 { font-size: 2.6rem; }
  
  h1 .smaller-2 { font-size: 3.0rem; }
  h2 .smaller-2 { font-size: 2.2rem; }
  h3 .smaller-2 { font-size: 1.6rem; }
}

@media (max-width: 799px) {
    main.container {
        padding-top: 6.5rem;
    }
    .sidenav-trigger {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 4.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .sidenav-trigger > .container {
        width: 100%;
        height: 100%;
    }

    .sidenav-trigger i {
        line-height: 4.5rem;
    }
    
    .sidenav-open {
        color: black;
        margin-left: 3rem;
    }

    .sidenav-close {
        margin-left: 3rem;
    }

    .sidenav-open {
        line-height: 4.5rem;
    }
    
    .sidenav-close {
        line-height: 6rem;
    }
    
    .sidenav-item.toggle {
        margin-bottom: -1rem;
    }

    .sidenav {
        position: fixed;
        overflow-y: auto;
        top: 0;
        left: 0;
        height: 100%;
        width: 300px;
        background: white;
        z-index: 999;
        
        -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
    }
    
    .sidenav.active {
        display: block;
    }
    
    .sidenav-list {
        list-style: none;
        margin: 0;
    }
    
    .sidenav-list .sidenav-list {
        margin-left: 1rem;
    }
    
    .sidenav-item {
        margin: 0;
    }
    
    .sidenav-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin: 1rem 3rem;
        text-decoration: none;
        line-height: 4.5rem;
        color: #222;
    }

    .sidenav-list .sidenav-list .sidenav-link:not(.active):not(:hover) {
        color: #888;
    }

    .sidenav-link.active {
        color: #33C3F0;
    }

    .navbar-item:first-child {
        margin-top: 1rem;
    }
    
    .navbar-link {
        line-height: 3.5rem;
    }
}

@media (min-width: 800px) {
    .navbar,
    .tabnav {
        position: fixed;
        left: 0;
        
        display: block;
        width: 100%;
        box-sizing: border-box;
        
        background: #fff;
        z-index: 99;
    }

    .navbar {
        top: 0;
        height: 6.5rem;
    }

    .tabnav {
        top: 4.5rem;
        height: 3.5rem;
    }

    .navbar > .container
    .tabnav > .container {
        width: 80%;
    }

    .navbar-item,
    .tabnav-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    
    .navbar-link,
    .tabnav-link {
        margin-right: 35px;
    }

    .navbar-link {
        line-height: 6.5rem;
    }
}