<div class="sidenav-trigger">
  <div class="container">
    <a href="#" class="sidenav-open"><i class="material-icons">menu</i></a>
  </div>
</div>

<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <% locals['main-nav'].forEach((text, path) => { %>
        <li class="navbar-item"><a <%- target(text) %> class="navbar-link <%= path == _path ? 'active' : '' %>" href="<%= navpath(path) %>"><%- linktext(text) %></a></li>
      <% }) %>
    </ul>
  </div>
</nav>

<% if ('tab-nav' in locals) { %>
  <nav class="tabnav">
    <div class="container">
      <ul class="tabnav-list">
        <% locals['tab-nav'].forEach((text, path) => { %>
          <li class="tabnav-item"><a <%- target(text) %> class="tabnav-link <%= path == basename(_path) ? 'active' : '' %>" href="<%= tabpath(_path, path) %>"><%- linktext(text) %></a></li>
        <% }) %>
      </ul>
    </div>
  </nav>
<% } %>

<nav class="sidenav">
  <ul class="sidenav-list">
    <li class="sidenav-item toggle"><a href="#" class="sidenav-close"><i class="material-icons">menu</i></a></li>
    <% locals['main-nav'].forEach((text, path) => { %>
      <li class="sidenav-item">
        <a <%= target(text) %> class="sidenav-link <%= path == _path ? 'active' : '' %>" href="<%= `/${path}.html` %>"><%= text %></a>
        <% if (dirname(_path) == dirname(path) && 'tab-nav' in locals) { %>
          <ul class="sidenav-list">
            <% locals['tab-nav'].forEach((text, path) => { %>
              <li class="sidenav-item"><a <%= target(text) %> class="sidenav-link <%= path == basename(_path) ? 'active' : '' %>" href="<%= tabpath(_path, path) %>"><%- linktext(text) %></a></li>
            <% }) %>
          </ul>
        <% } %>
      </li>
    <% }) %>
  </ul>
</nav>