<style>
    @media (min-width: 800px) {
        main.container {
            margin-top: <%= 'tab-nav' in locals ? '10rem' : '8.5rem' %>;
        }

        <%= 'tab-nav' in locals ? '.tabnav' : '.navbar' %> {
            border-bottom: 1px solid #eee;
        }
    }
</style>