<nav class="localnav">
  <% if ('local-nav' in locals) { %>
    <ul class="localnav-list">
      <% locals['local-nav'].forEach((text, path) => { %>
        <li class="localnav-item"><a class="localnav-link" href="<%= `#${path}` %>"><%= text %></a></li>
      <% }) %>
    </ul>
  <% } %>
</nav>